.List
    display: flex
    align-items: center
    justify-content: center

.Title
    display: flex
    align-items: center
    justify-content: center
    font-family: Dosis sans-serif


.WordImp
    color: pink
    font-family: Roboto sans-serif
    
