.TextCard
    // margin-left : 20px 
    font-size: 5px !important
.CardSlice
    background-color: red
    display: flex
    align-items: center
    justify-content: center
.Carousel
    height: 1000px
    background-color: yellow
    max-height: 650px
    //  : 650px
    max-width: 350px