
.carouselDemo
    border: 1px solid
    border-radius: 3px
    margin: .3rem
    text-align: center
    padding: 2rem 0

.productItem
    border: 1px solid
    border-radius: 3px
    margin: .3rem
    text-align: center
    padding: 2rem 0

.productItemContent
    border: 1px solid
    border-radius: 3px
    margin: .3rem
    text-align: center
    padding: 2rem 0

.productImage
    width: 50%
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
.carouselDemo
    width: 50%
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

.productItem
    width: 50%
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

.ImageSlide
    width: 90%
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)


.InfoBasics
    text-align: left
    border: 4px solid #dce3e9
    padding: 20px
    margin-top: 10px
    border-radius: 2%

.TitleBasics
    font-size: 25px
.Badge
    text-align: right
    margin : 5px

.PricesTitle
    text-align: center
    font-size: 25px
    padding-bottom: 10px