.titleAmenidad
    color: #12B886
    font-weight: bold
    font-size: 18px
    font-family: 'Dosis', sans-serif

.titleAbout
    font-size: 40px
    // font-weight: 520
    padding-bottom: 0
    margin-bottom: 10px
    margin-top: 10px
    font-family: 'Dosis', sans-serif

.direction
    display: flex
    font-size: 17px
    font-family: 'Roboto', sans-serif

.TabsNavigation
    margin-top: 20px
    background-color: white
    position: sticky
    // align-self: stretch
    position: -webkit-sticky
    top: 0

.titleEnterAme
    display: flex
    flex-direction: row
    justify-content: center
    font-family: 'Dosis', sans-serif

    // background-color: gray
.description
    margin-top: 20px
    font-size: 18px
    font-family: 'Roboto', sans-serif

.amenidadList
    // margin-bottom: 15px !important
    font-family: 'Roboto', sans-serif

.ImagesCollage
    margin: 40px

.imagesMainMediun
    // height: 100%
    // width: 100%
    // maxHeight: ''
    cursor: pointer

.ImageBig
    cursor: pointer
    &:hover
        opacity: 0.9
.ImageTest
    height: 451px
    width: 720px
    object-fit: cover

.imagesSizeInvi
    height: 220px
    width: 350px
    object-fit: cover
    margin-bottom: 10px
    position: relative
    text-align: center
    color: white

    &:hover
        opacity: 0.9
        cursor: pointer
.TextInside
    position: absolute
    top: 63%
    left: 85%
    transform: translate(-50%, -50%)
    font-size: 20px
    color: white

.Schedule
    // marginLeft:  !important
    // border : 3px black solid
    border-radius: 0%
    width: 250px
    font-size: 15px
    h1 : 100px
    p : 20px
        text-align: center

.ScheduleTitle
    margin: 0px
    padding: 0px
    font-size: 30px

.ScheduleContainer
    margin-top: 6px

.SchedulePeriod
    margin-bottom: 7px

.ScheduleSubTitle
    font-size: 20px !important
.ScheduleDate
    margin: 0px
.ScheduleIn
    margin-left: 50px
