.titleAmenidad
    color: #12B886
    font-weight: bold
    font-size: 18px
    font-family: 'Dosis', sans-serif


.titleAbout
    font-size: 50px
    // font-weight: 520
    padding-bottom: 0
    margin-bottom: 0
    font-family: 'Dosis', sans-serif


.direction
    display: flex
    font-size: 20px
    font-family: 'Roboto', sans-serif


.titleEnterAme
    display: flex
    flex-direction: row
    justify-content: center
    font-family: 'Dosis', sans-serif

    // background-color: gray
.description
    margin-top: 20px
    font-size: 18px
    font-family: 'Roboto', sans-serif

.amenidadList
    // margin-bottom: 15px !important
    font-family: 'Roboto', sans-serif

